<div class="container">
  <h1>Apollo program</h1>
</div>
<div class="grid">
  <div class="row">
    <div class="col col-1-of-4 col-m-2-of-4 push-m-1-of-4">
      <img src="{{site.baseurl}}/img/apollo-badge.svg" alt="Apollo Badge" class="badge">
    </div>
    <div class="col col-3-of-4 col-m-4-of-4">
      <p>
        The Apollo Program was a program led by NASA that succeeded in landing the first Humans on the moon on July 24<sup>th</sup> 1969. It achieved this goal despite a major setback after a cabin fire cilled all three crew members on Apollo 1.
      </p>
      <blockquote>
        &#x201C; That's one small step for [a] man, one giant leap for mankind. &#x201D;
        <cite>&#x2014; Niel Armstrong</cite>
      </blockquote>
    </div>
  </div>
</div>
