<div class="container">
  <h1>Apollo program</h1>
</div>
<div class="grid">
  <div class="row">
    <div class="col col-1-of-4 col-m-2-of-4 push-m-1-of-4">
      <img src="{{site.baseurl}}/img/apollo-badge.svg" alt="Apollo Badge" class="badge">
    </div>
    <div class="col col-3-of-4 col-m-4-of-4">
      <p>
        The Apollo Program was a program led by NASA that succeeded in landing the first Humans on the moon on July 24<sup>th</sup> 1969. It achieved this goal despite a major setback after a cabin fire cilled all three crew members on Apollo 1.
      </p>
      <blockquote>
        &#x201C; That's one small step for [a] man, one giant leap for mankind. &#x201D;
        <cite>&#x2014; Niel Armstrong</cite>
      </blockquote>
    </div>
  </div>
</div>
<div class="bgi">
	<div class="prev">
		<i class="material-icons">keyboard_arrow_left</i>
	</div>
	<div class="contain">
		<div class="apollo-1" style="background-image:url({{site.baseurl}}/img/apollo-thumbs/1.jpg)"></div>
		<div class="apollo-7 selected" style="background-image:url({{site.baseurl}}/img/apollo-thumbs/7.jpg)"></div>
		<div class="apollo-8" style="background-image:url({{site.baseurl}}/img/apollo-thumbs/8.jpg)"></div>
		<div class="apollo-9" style="background-image:url({{site.baseurl}}/img/apollo-thumbs/9.jpg)"></div>
		<div class="apollo-10" style="background-image:url({{site.baseurl}}/img/apollo-thumbs/10.jpg)"></div>
		<div class="apollo-11" style="background-image:url({{site.baseurl}}/img/apollo-thumbs/11.jpg)"></div>
		<div class="apollo-12" style="background-image:url({{site.baseurl}}/img/apollo-thumbs/12.jpg)"></div>
	</div>
	<div class="text">
		<div class="apollo-1">
			<h1>Apollo 1</h1>
			<p>The first manned mission of the Apollo program. A cabin fire during a launch rehearsal test unfortunately killed all 3 crew members, and the mission therefore never made it off the ground.</p>
		</div>
		<div class="apollo-7 selected">
			<h1>Apollo 7</h1>
			<p>Apollo 7 was the first successful manned launch of the Apollo program. The flight was an 11 day long test of the Block II CSM in lower earth orbit.</p>
		</div>
		<div class="apollo-8">
			<h1>Apollo 8</h1>
			<p>Apollo 8 was the first ever mission to take humans beyond earth orbit, to the moon and back again. The crew of Apollo 8 became the first to ever witness an earthrise.</p>
		</div>
		<div class="apollo-9">
			<h1>Apollo 9</h1>
			<p>The third manned Apollo mission conducted several tests in lower earth orbit, Including docking and undocking the LM, as well as 2 EVAs.</p>
		</div>
		<div class="apollo-10">
			<h1>Apollo 10</h1>
			<p>Apollo 10 was the second manned mission to enter lunar orbit, and was a rehearsal for the actual moon landing. The LM seperated from the CSM to commenced a lunar descent, and came within 15.6km of the lunar surface.</p>
		</div>
		<div class="apollo-11">
			<h1>Apollo 11</h1>
			<p>Apollo 11 was the spaceflight that brought the first two humans to the lunar surface. Niel Armstrong &amp; Buzz Aldrin, bith AMerican astronauts, landed on the 20<sup>th</sup> of july 1969, and set foot on the surface about 6 hours after landing</p>
		</div>
		<div class="apollo-12">
			<h1>Apollo 12</h1>
			<p>Apollo 12 was the second mission to land humans on the moon. The LM landed close to the unmaned surveyor probe, which was visited by Pete Conrad and Alan Bean, to salvage some parts for return to earth.</p>
		</div>
	</div>
	<div class="next">
		<i class="material-icons">keyboard_arrow_right</i>
	</div>
</div>
